<nav class="nav-bar">
    <ul class="navigation-items">
        <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Add user</a></li>
        <li><a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a></li>
    </ul>
</nav>
