<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/add-user.css'/>

</head>
<body>
<nav class="nav-bar">
    <ul class="navigation-items">
        <li><a href="/">Users</a></li>
        <li><a  class="active"  href="/add-user">Add user</a></li>
    </ul>

    <div class="wrapper">
       <form action="/add-user" method="POST">
           <label>
               <input name="user" placeholder="enter user" type="text"/>
           </label>
           <button class="btn" type="submit">Save</button>
       </form>
    </div>
</nav>
</body>
</html>
